<h1 class="text-3xl font-bold text-center text-orange-700 mb-8 bg-orange-50 px-6 py-3 rounded-xl shadow-md tracking-wide font-sans">
  家族コードでログイン
</h1>

<div class="bg-[#fffaf3] p-6 rounded-lg shadow max-w-md mx-auto">
  <%= form_with url: family_login_path, method: :post, local: true do |form| %>
    <div class="mb-4">
      <%= form.label :family_code, "家族コード", class: "block text-[#6e5e57] mb-1" %>
      <%= form.text_field :family_code, value: (params[:family_code] || cookies[:family_code]), class: "block w-full border border-gray-300 rounded-md shadow-sm p-2" %>
    </div>

    <p class="mt-6 text-center text-sm">
      家族コードをまだお持ちでない方は
      <%= link_to "こちらから家族を作成", new_family_path, class: "text-[#d16a50] underline" %>
    </p>

    <%= form.submit "ログイン", class: "bg-[#6e5e57] hover:bg-[#4b3e39] text-white font-semibold py-2 px-4 rounded transition w-full" %>
  <% end %>
</div>